body {
  margin: 0px;
  background: black;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  overflow-x: hidden;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.landing {
  display: flex;
  height: 100%;
  color: white;
  width: auto;
}
.landing-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
  width: 100%;
}
.landing-subsection1 {
  display: flex;
  height: 40vh;
  color: white;
  width: 100%;
}
.landing-alternate {
  display: none;
}
.landing-subsection2 {
  display: flex;
  height: 60vh;
  color: white;
  width: 100%;
  justify-content: center;
}
.profile {
  display: flex;
  background: black;
  flex-direction: column;
}
.header {
  display: flex;
  height: 40vh;
  width: 100vw;
}
#first {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  background-size: cover;
  background-attachment: fixed;
}

.flex-container {
  height: 60vh;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  z-index: 1;
}

.child1,
.child2 {
  height: auto;
  font-family: "Staatliches", cursive;
  color: aliceblue;
  letter-spacing: 5px;
}
.child1 {
  font-size: 300px;
  margin-right: 0px;
  padding-right: 0px;
  width: 70px;
  height: 200px;
}
.child2 {
  font-weight: bold;
  margin-top: 60px;
  font-size: 100px;
  margin-left: 70px;
}
#second {
  display: flex;
  flex-flow: row wrap;
  background-size: cover;
  background-attachment: fixed;
  margin-left: 10px;
}
.over {
  margin-top: 150px;
  /* -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 1px; */
}
#under {
  display: flex;
  position: absolute;
  z-index: -2;
  margin-bottom: 10px;
}
#over {
  display: flex;
  margin: 0px;
  padding: 20px;
  margin-top: 10px;
  margin-left: 0.2px;
  border-bottom: 0.2px;
  padding-top: 0px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  z-index: 1;
}
h1 {
  margin-top: 0px;
  margin-left: 10px;
  padding: 10px;
  font-family: "Staatliches", cursive;
  letter-spacing: 5px;
  font-size: 60px;
}
.pointer {
  display: flex;
  z-index: -1;
  float: left;
  position: absolute;
  background: yellow;
  height: 100px;
  width: 8px;
  border-radius: 20px;
  border: 2px solid rgb(165, 135, 0);
  transition: width 0.6s ease-in-out;
}
.hover1 {
  /* float: left; */
  position: relative;
  padding: 20px;
  opacity: 0.6;
  background: white;
  margin-top: 0px;
  z-index: 1;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.hover1 p {
  font-size: 1.7em;
  line-height: 1.2;
  font-weight: 500;
}
.Section {
  margin: 10px;
}

.about-name {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 5px 10px 10px 10px;
}
.about-name > p {
  margin: 2px;
  padding: 0px 20px 20px 20px;
  letter-spacing: 2px;
}
.skills > .about-name {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}

.skill {
  display: flex;
  background: yellow;
  color: black;
  border-radius: 10px;
  padding: 10px;
  height: 50px;
  width: 80px;
  border: 5px solid rgb(165, 135, 0);
  font-family: "Staatliches", cursive;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.skill p {
  font-weight: bold;
  font-size: 2em;
  padding: 2px;
}

.project {
  display: flex;
  flex-direction: column;
}

.project h2 {
  font-family: "Staatliches", cursive;
  margin: 0;
  font-size: 3em;
  letter-spacing: 2px;
}
.project p {
  margin: 0;
}

.image {
  height: 20px;
  width: 20px;
}

.hover1:hover {
  opacity: 0.9;
}
.hover1:hover .pointer {
  width: 95%;
}
/* .education:hover .pointer {
    width: 9%;
  } */
p {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 25px;
  position: relative;
  padding: 20px;
  padding-top: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

#div {
  position: absolute;
  /* z-index: -2; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-top: 0;
}
img {
  height: 900px;
  width: 1100px;
}
#rotate {
  display: flex;
  animation: spin 100s infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  /* 20% {
            transform: rotate(72deg);
          }
          40% {
            transform: rotate(144deg);
          }
          60% {
            transform: rotate(216deg);
          }
          80% {
            transform: rotate(298deg);
          } */
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 700px) {
  .pointer {
    display: none;
  }
  #over {
    display: none;
  }
  #under {
    position: relative;
    background: yellow;
    border: 5px solid rgb(165, 135, 0);
    padding: 20px;
    width: 86%;
    border-radius: 25px;
  }
  .hover1 {
    opacity: 0.9;
  }
}

/*added animation style here*/
#expand {
  display: flex;
  margin: 0;
  margin-top: 100px;
  width: 40%;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 350px;
  z-index: 1;
  width: 50%;
}
#expand:hover {
  cursor: pointer;
}

.child1,
.child2 {
  height: 100px;
  width: 100px;
  font-family: "Staatliches", cursive;
  color: aliceblue;
  letter-spacing: 5px;
}
.child1 {
  font-size: 300px;
  margin-right: 0px;
  padding-right: 0px;
  width: 70px;
  height: 200px;
}
.child2 {
  width: 138px;
  height: 50px;
  font-weight: bold;
  margin-top: 60px;
  font-size: 100px;
  margin-left: 70px;
}

.over {
  margin-top: 150px;
  /* -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px; */
}

@media (min-width: 1200px) {
  #expand:hover .top {
    margin-left: -150px;
  }
  #expand:hover .bottom {
    margin-left: 350px;
  }
  .top {
    /* margin-left: 400px; */
    display: flex;
    position: absolute;
    transition: margin-left 0.6s ease-in-out;
  }
  .bottom {
    /* margin-left: 400px; */
    display: flex;
    /* -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 3px; */
    transition: margin-left 0.6s ease-in-out;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .child1 {
    font-size: 250px;
  }
  .child2 {
    margin-left: 50px;
    font-size: 80px;
  }

  .over {
    margin-top: 150px;
    /* -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 1px; */
  }
  #expand:hover .top {
    margin-left: -100px;
  }
  #expand:hover .bottom {
    margin-left: 300px;
  }
  .top {
    display: flex;
    position: absolute;
    transition: margin-left 0.6s ease-in-out;
  }
  .bottom {
    display: flex;

    transition: margin-left 0.6s ease-in-out;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .child1 {
    font-size: 200px;
  }
  .child2 {
    margin-left: 30px;
    font-size: 60px;
  }

  .over {
    margin-top: 120px;
  }
  #expand:hover .top {
    margin-left: -112px;
  }
  #expand:hover .bottom {
    margin-left: 184px;
  }
  .top {
    display: flex;
    position: absolute;
    transition: margin-left 0.6s ease-in-out;
  }
  .bottom {
    display: flex;

    transition: margin-left 0.6s ease-in-out;
  }
}

@media (max-width: 700px) {
  #expand {
    display: none;
  }
  .landing-alternate {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  .alternate-display1 {
    display: flex;
    flex-direction: row;
  }
  .alternate-display1 > h1 {
    margin: 0;
    padding: 0;
    letter-spacing: 14px;
    font-size: 100px;
  }
  .p1 {
    animation: animate1 5s ease-in-out infinite;
  }

  .p2 {
    animation: animate2 5s ease-in-out infinite;
  }
}

@keyframes animate1 {
  0% {
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(1.5);
  }
  50% {
    transform: scaleX(1);
  }
  75% {
    transform: scaleX(1.5);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes animate2 {
  0% {
    transform: scaleX(1.5);
  }
  25% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.5);
  }
  75% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1.5);
  }
}
